.promo {
  margin-bottom: 63px;
}

.promo__content {
  border-radius: 59px;
  background-color: #F4F6F5;

  display: flex;
  column-gap: 24px;
  padding-top: 68px;
  padding-left: 120px;
}


.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}