.promo__btn__wrap {
  display: flex;
  column-gap: 34px;
  align-items: center;
}

.promo__btn {
  padding: 18px 40px;

  background: #000000;
  border-radius: 10px;

  font-weight: 500;
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  color: #fff;
}